__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
face_rec/
*.egg-info/
dist/
build/

.env
.envrc
.venv
face_rec/

.DS_Store
thumbs.db

.ipynb_checkpoints

.vscode/

pip-log.txt
pip-delete-this-directory.txt

encodings.pickle
dataset/
*.db
*.sqlite

*.bin
*.elf
*.hex
